{% extends 'base-front.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcom</th>
                <th>Nomprod</th>
                <th>Quantite</th>
                <th>Numtel</th>
                <th>Adresse</th>
                <th>Date</th>
                <th>Emailc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.idcom }}</td>
                <td>{{ commande.nomprod }}</td>
                <td>{{ commande.quantite }}</td>
                <td>{{ commande.numtel }}</td>
                <td>{{ commande.adresse }}</td>
                <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
                <td>{{ commande.emailc }}</td>
                <td>
                    <a href="{{ path('commande_show', {'idcom': commande.idcom}) }}">show</a>
                    <a href="{{ path('commande_edit', {'idcom': commande.idcom}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commande_new') }}">Create new</a>
{% endblock %}
