{% extends 'base-back.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
    <h1>Livraison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idliv</th>
                <td>{{ livraison.idliv }}</td>
            </tr>
            <tr>
                <th>Nomlivreur</th>
                <td>{{ livraison.nomlivreur }}</td>
            </tr>
            <tr>
                <th>Nomclient</th>
                <td>{{ livraison.nomclient }}</td>
            </tr>
            <tr>
                <th>Numtelclient</th>
                <td>{{ livraison.numtelclient }}</td>
            </tr>
            <tr>
                <th>Lieudepart</th>
                <td>{{ livraison.lieudepart }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ livraison.destination }}</td>
            </tr>
            <tr>
                <th>Dateliv</th>
                <td>{{ livraison.dateliv ? livraison.dateliv|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ livraison.email }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('livraison_index') }}">back to list</a>

    <a href="{{ path('livraison_edit', {'idliv': livraison.idliv}) }}">edit</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
